flask
flask-cors
pandas
numpy
xgboost
scikit-learn
sentence-transformers
groq
requests
python-dotenv
#elle force la version légère (CPU seulement)
torch --index-url https://download.pytorch.org/whl/cpu